{% extends 'base.html.twig' %}

{% block title %}
	JoBoard - Job applications
{% endblock %}

{% block main %}
{% if jobApps[0].Message is defined %}
<div id="divJobApps" class="my-3">
	  {% for item in jobApps %}

      <div class="card animationHoverGrow sizeCardAdvertisement">
	  		<div class="card-header bcgColorBlue text-white">
	  			<h5 class="card-title m-1 p-1">{{ item.Title }}</h5>
	  		</div>
	  		
        <ul class="list-group list-group-flush">
          <li class="list-group-item py-3">
            <div class="text-center">
              <p class="card-text"><strong>Applicant</strong></p>
              <hr />
              <p class="card-text">{{ item.Firstname }} {{ item.Lastname }}</p>
              <p class="card-text">{{ item.Message }}</p>
            </div>          
          </li>
          <li class="list-group-item py-3">
            <div class="text-center">
              <p class="card-text"><strong>HR Reminder</strong></p>
              <hr />
              <p class="card-text">Salaire : {{ item.Wages }}€</p>
	  		      <p class="card-text">{{ item.Workingtime }} heures/semaine</p>
	  		      <p class="card-text">{{ item.Label }}</p>
            </div>
          </li>
          <li class="list-group-item py-3">
            <div class="text-center">
              <p class="card-text"><strong>Contact</strong></p>
              <hr />
              <p class="card-text">{{item.Email}}</p>
	  		      <p class="card-text">{{item.Phone}}</p>
            </div>
          </li>
          
        </ul>

        
	  		


	  	
	  		
	  	</div>  

	  {% endfor %}
  </div>
{% else %}
  <div class="text-center">
    <h2 class="card-text">No job applications yet !</h2>
  </div>
{% endif %}
{% endblock %}



